.container {
  /* display: flex;
  gap: 30px;
  flex-wrap: wrap; */
  height: 100%;
  padding: 50px;
  /* padding: 140px 0px; */
}
.image {
  width: 200px;
  height: 200px;
}
.card {
  background-color: beige;
  width: 200px;
  height: 200px;
  padding: 20px;
}
