@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

.container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.cardContent {
  position: absolute;
  bottom: -400px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: rgba(0, 0, 0, 0.6);
  transition: bottom 0.3s ease;
  height: 400px;
}

.card:hover .cardContent {
  bottom: 0;
}
.heading {
  font-size: 20px;
  font-weight: 800;
  color: white;
}
.subHeading {
  width: 100%;

  font-family: "Cardo", serif;
  text-align: center;
  color: white;
  width: 200px;
}
.headingDuplicate {
  font-size: 20px;
  font-weight: 800;
  color: white;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
.card:hover .headingDuplicate {
  opacity: 0;
}
